body{
     text-align: center;
     background-color: #A1D8B5;
     }

ul{
     list-style-type: none;
}

h1{
     font-family: "Rubik", sans-serif;
     background-color: black;
     box-shadow: 10px 5px 10px 5px crimson;
     color: yellow;
}

.call{
     border: 1px solid black;
     color: green;
     opacity: 0.8;
}

.call:hover{
     box-shadow: 10px 5px 10px 5px royalblue; 
     opacity: 1;
}
.social{
     margin-top: 20px;
     border: 1px solid black;
     padding: 30px;
     margin-bottom: 40px;
}


.social i{
     opacity: 0.5;
     padding: 10px;
     
}

.social i:hover{
     opacity: 1;
     color: red;
     /* font-size: 1.6rem; */
     font-style: italic;
}


.social h3 {
     color: purple;
     opacity: 0.8;
}
.social h3:hover{
     cursor: pointer;
     font-family: "Rubik", sans-serif;
     font-size: 1.2rem;
     color: tomato;
     opacity: 1;
}

.call h2 i{
     opacity: 0;
}

.call h2:hover i{
     opacity: 1;
     color: red;
}

h2:hover{
     /* background-color: black; */
     cursor: pointer;
     font-size: 1.4rem;
     font-family: "Rubik", sans-serif;
}

