
body{
     background-color: #A1D8B5;

}

h1{
     color: crimson;
}

ul{
     list-style-type: none;
     /* margin-bottom: 20px; */
}

li{
     color: red;
}

.mg{
     color: green;
}

h1{
     text-align: center;
}
#all{
     border: 1px solid black;
     margin-bottom: 20px;
     padding: 20px;
}

.lang i{
     padding: 10px;
}

.back i{
     padding: 10px;
}

.front i {
     padding: 10px;
     color: red;
}

.sor i{
     padding:10px ;
     color: red;
}